[Desktop Entry]
Type=Application
Terminal=false
Name=Guitar Pro 8
Icon=$HOME/Applications/Windows/Guitar-Pro-8/Guitar_Pro_8_icon.png
Exec=$HOME/Applications/Windows/Guitar-Pro-8/startup
Comment=Run Guitar Pro 8 under Wine
Categories=AudioVideo;Music;
